###### Exam-1: Fall 2022
#### Total number of points: 40

This is an open-book test. However, talking or chatting with your classmates is NOT permitted and will be considered plagiarism. 

<b>Before you submit this test, make sure your answers are saved, and everything runs as expected</b>. 

- For empty notebook submissions, you will receive 0 points. 
- If instructions (including not using the same variable names) are not followed that led to a wrong answer, you will receive 0 points. 

First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All).
Steps to evaluate your solutions:

Step-1: Ensure you have installed Anaconda (Windows: https://docs.anaconda.com/anaconda/install/windows/ ; Mac:https://docs.anaconda.com/anaconda/install/mac-os/ ; Linux: https://docs.anaconda.com/anaconda/install/linux/)

Step-2: Open the Jupyter Notebook by first launching the anaconda software console

Step-3: Open the .ipynb file and write your solutions at the appropriate location "# YOUR CODE HERE"

Step-4: You can restart the kernel and click run all (in the menubar, select Cell → Run All) on the center-right on the top of this window.

Step-5: Now go to "File" then click on "Download as" then click on "Notebook (.ipynb)" Please DO NOT change the file name and just keep it as .ipynb file format

Step-6: Go to lms.rpi.edu and upload your notebook at the appropriate link to submit this homework. Make sure your answers are saved before you submit. 

#### Please note that for any question in this test you will receive points ONLY if your solution passes all the hidden testcases. So please make sure you try to think all possible scenarios before submitting your answers.  
- Note that hidden tests are present to ensure you are not hardcoding. 
- If caught cheating: 
    - you will receive a score of 0 for the 1st violation. 
    - for repeated incidents, you will receive an automatic 'F' grade and will be reported to the dean of Lally School of Management.

#### For this test, we will be using Stroke data provided by WHO. The dataset is used to predict whether a patient is likely to get stroke based on the input parameters like gender, age, various diseases, and smoking status 
<ul> 
    <li>id: unique identifier</li>
    <li>gender: "Male", "Female" or "Other"</li>
    <li>age: age of the patient</li>
    <li>hypertension: 0 if the patient doesn't have hypertension, 1 if the patient has hypertension</li>
    <li>heart_disease: 0 if the patient doesn't have any heart diseases, 1 if the patient has a heart disease</li>
    <li>ever_married: "No" or "Yes"</li>
    <li>work_type: 'Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'</li>
    <li>Residence_type: "Rural" or "Urban"</li>
    <li>avg_glucose_level: average glucose level in blood</li>
    <li>bmi: body mass index</li>
    <li>smoking_status: "formerly smoked", "never smoked", "smokes" or "Unknown"*</li>
    <li>stroke: 1 if the patient had a stroke or 0 if not -- <b>Class label column</b> </li>
</ul>
*Note: "Unknown" in smoking_status means that the information is unavailable for this patient

In [1]:
#Please run this cell before answering the following questions 
import numpy as np
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/lmanikon/lmanikon.github.io/master/teaching/datasets/KaggleStroke.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

### Q-1 [10 points] Please answer the following questions in the same order: 

1. Assign variable `rows` and `cols` with the total number of data points and the number of attributes present in the dataframe df.
2. Assign the list `colnames` with the names of features present in this dataframe df.
3. Find the value of `age` associated with the sample whose `id` is `1665` and assign this value to variable `sid1665_age`.
4. Find the total number of missing values in 'smoking_status' column and assign it to variable `sstat_mvals`.
5. Remove the column `id` from the dataframe `df`. Make sure this is reflected in the dataframe.

In [2]:
#Please make sure you use the exact names for variables including the casing of letters
rows = len(df)
cols = len(df.columns)

colnames = []
for col in df.columns:
  colnames.append(col)

id1665 = df.loc[(df['id']==1665),:]
sid1665_age = df.iloc[4, 2]

sstat_mvals = df['smoking_status'].isnull().sum()

df = df.drop(columns = ['id'])
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [3]:
#This will test that you have not mislabeled a variable. 
assert 'rows' in globals()
assert 'cols' in globals()
assert 'colnames' in globals()
assert 'sid1665_age' in globals()
assert 'sstat_mvals' in globals()

In [4]:
#Test cell-1 [1pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [5]:
#Test cell-1 [1pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [6]:
#Test cell-2 [2pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [7]:
#Test cell-3 [2pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [8]:
#Test cell-4 [2pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [9]:
#Test cell-5 [2pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

### Q-2 [15 points] Please answer the following questions in the same order: 

1. Perform one-hot encoding on the dataframe df using Pandas `get_dummies()`. Save this newly transformed data frame as `newdf`. For each of the `N` categories generate `N-1` dummy variables. You can pass all values to the get dummies functions and let it decide which is a categorical variable. 
2. Replace all the missing values in this transformed data frame `newdf` with the average value of the corresponding column.
3. Split the data frame `newdf` into a data frame `X` that includes all the feature columns, and a series `y` that includes ONLY the class label column, which is `stroke`. Please follow the case format of variables used here -- otherwise, your code wont pass the testcases.

More details about the `get_dummies()` function can be found here: 
<a href="https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html"> Link </a>

In [10]:
#Please make sure you use the exact names for variables including the casing of letters

newdf = pd.get_dummies(df, drop_first = True)

mean_bmi = newdf['bmi'].mean()
newdf['bmi'] = newdf['bmi'].replace(np.nan, mean_bmi)

X = newdf.drop(columns = ['stroke'])
y = newdf['stroke']

X

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Male,gender_Other,ever_married_Yes,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.600000,1,0,1,0,1,0,0,1,1,0,0
1,61.0,0,0,202.21,28.893237,0,0,1,0,0,1,0,0,0,1,0
2,80.0,0,1,105.92,32.500000,1,0,1,0,1,0,0,0,0,1,0
3,49.0,0,0,171.23,34.400000,0,0,1,0,1,0,0,1,0,0,1
4,79.0,1,0,174.12,24.000000,0,0,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,80.0,1,0,83.75,28.893237,0,0,1,0,1,0,0,1,0,1,0
5106,81.0,0,0,125.20,40.000000,0,0,1,0,0,1,0,1,0,1,0
5107,35.0,0,0,82.99,30.600000,0,0,1,0,0,1,0,0,0,1,0
5108,51.0,0,0,166.29,25.600000,1,0,1,0,1,0,0,0,1,0,0
5109,44.0,0,0,85.28,26.200000,0,0,1,0,0,0,0,1,0,0,0

In [11]:
#Variable Checks
assert 'newdf' in globals()
assert 'X' in globals()
assert 'y' in globals()

In [12]:
#Test cell-6 [2pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [13]:
#Test cell-6 [3pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [14]:
#Test cell-7 [5pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [15]:
#Test cell-7 [5pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [16]:
#Test cell-8 [5pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

### Q-3 [15 points] Please answer the following questions in the same order: 


1. Create a list of values (`y2_pred`) with all values as 1 and it has the same length as class label `y2`.
2. Compute accuracy using the ground truth labels `y2` and synthetically created predicted labels `y2_pred` and save it as a variable `accu`. 
3. Compute the precision and recall values using `y2` and `y2_pred` and assign these values to variables `prec`, and `recall` respectively. 
4. Compute the `F-score` and assign it to variable `fscore`. 
5. Transform `X2` to `X2_st` using the `MinMaxScaler`. `X2_st` should be a `numpy` array.

In [17]:
#Load data for this question. Don't change this cell.
X2=pd.read_csv('https://raw.githubusercontent.com/rpi-techfundamentals/website_fall_2022/master/site/public/X2.csv')
y2=X2['stroke']
X2=X2.iloc[:,:4]

In [32]:
#Please make sure you use the exact names for variables including the casing of letters
y2_pred = [1] * len(y2)

from sklearn import metrics

accu = metrics.accuracy_score(y2, y2_pred)
prec = metrics.precision_score(y2, y2_pred)
recall = metrics.recall_score(y2, y2_pred)
fscore = metrics.f1_score(y2, y2_pred)

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X2_st = scaler.fit_transform(X2)

print(fscore)

0.09292778503452137

In [19]:
#Variable Checks

assert 'y2_pred' in globals()
assert 'accu' in globals()
assert 'prec' in globals()
assert 'recall' in globals()
assert 'fscore' in globals()
assert 'X2_st' in globals()

In [20]:
#Test cell-10 [2pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [21]:
#Test cell-11 [2pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [22]:
#Test cell-12 [2pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [23]:
#Test cell-12 [2pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [24]:
#Test cell-13 [2pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [25]:
#Test cell-14 [3pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [26]:
#Test cell-15 [2pts] Hidden tests
#DO NOT MODIFY/DELETE THIS CELL